<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{fragments/PageLayout.html :: head('Home')}"></form>
<body>
<form th:replace="~{fragments/PageLayout.html :: header}"></form>

<div class="body-content">
    <h2 th:text="#{home.welcome}">Welcome (design)!</h2>
    <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="BeerTag logo"/>
    <p>A beer a day keeps the doctor away!</p>
</div>

<form th:replace="~{fragments/PageLayout.html :: footer}"></form>
</body>
</html>