<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{fragments/PageLayout.html :: head('Register')}"></form>
<body>
<form th:replace="~{fragments/PageLayout.html :: header}"></form>

<div class="body-content">
    <h2>Register</h2>

    <form th:action="@{/auth/register}" th:object="${registerDto}" method="post">
        <div>
            <label>Username:</label>
            <br/>
            <input type="text" th:field="*{username}" />
            <label class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</label>
        </div>
        <br/>

        <div>
            <label>Password:</label>
            <br/>
            <input type="password" th:field="*{password}" />
            <label class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</label>
        </div>
        <br/>

        <div>
            <label>Confirm Password:</label>
            <br/>
            <input type="password" th:field="*{passwordConfirm}" />
            <label class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password confirmation error</label>
        </div>
        <br/>

        <div>
            <label>First Name:</label>
            <br/>
            <input type="text" th:field="*{firstName}" />
            <label class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</label>
        </div>
        <br/>

        <div>
            <label>Last Name:</label>
            <br/>
            <input type="text" th:field="*{lastName}" />
            <label class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</label>
        </div>
        <br/>

        <div>
            <label>Email:</label>
            <br/>
            <input type="email" th:field="*{email}" />
            <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</label>
        </div>
        <br/>

        <div>
            <input type="submit" value="Register" />
        </div>
    </form>

    <p>Already have an account? <a th:href="@{/auth/login}">Login here</a></p>
</div>

<form th:replace="~{fragments/PageLayout.html :: footer}"></form>
</body>
</html>